auth:
  username: appuser
  password: strongpassword
  database: appdb
  postgresPassword: superadminpassword

primary:
  persistence:
    enabled: true
    size: 10Gi

  resources:
    requests:
      memory: 256Mi
      cpu: 250m
    limits:
      memory: 512Mi
      cpu: 500m
